body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(233, 47%, 7%);
    color: white;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

em {
    color: purple ;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: left;
}

h2 {
    font-size: 2Opx;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 70%;
    background-color: hsl(244, 37%, 16%);
    margin: 100px;
    padding: 0;
}

img {
    width: 450px;
    height: auto;
}

.image-purple {
    filter: hue-rotate(270deg) saturate(100%) brightness(130%);
    background-color: purple;
    mix-blend-mode: multiply;
}

.left-elements {
    padding: 0 50px;
    max-width: 400px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.stat-one, .stat-two, .stat-three {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    line-height: 1.5;
    text-align: justify;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 15px;
}